doctype html
html
  head
    title=pageTitle
    link(rel="stylesheet",href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic")
    link(rel="stylesheet",href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css")
    link(rel="stylesheet",href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css")
    link(href="style.css",rel="stylesheet")
  body
    section(id="app").container
      h1 CORS Request Testing
      .row
        .column
          fieldset
            label(for="ageRangeField") API Endpoint
            select(id="endpoint",name="endpoint")
              option(value=server+"api") Same origin (#{server})
              option(value=lnk+'api') Cross origin (#{lnk})
          button(id="run").button.button-outline Send AJAX Request
      .row
        .column
          fieldset
            label(for="resStatus") Status
            input(id="resStatus", name="resStatus", type="number",readonly)
        .column.column-75
          h4 Results
          pre
            code(id="results")
          a.button.button-clear(href=lnk) Go to Other Server >>
    script var api = "#{apiEndpoint}";
    script(src="/app.js")
      